*{
    margin: 0;
    padding: 0;
}
.primary-color{
    color: rgb(219, 21, 21);
}
.discrption{
    font-size: 22px;
    width: 50%;
    margin: auto;
}
.btn{
    font-size: 18px;
    padding: 15px 35px;
    margin: 5px;
    border: none;
    border-radius: 4px;
}
/* --header style --*/

.nav-container{
    display: flex;
    padding: 5px;
    justify-content: space-around;
    color: aliceblue;
    background-color: #9b9898;
}
.menu-container ul{
    display: flex;
    
}
.menu-container li{
    list-style: none;
    margin-right: 10px;
    font-size: 25px;
    font-weight: 600;
    padding: 5px;
}

/*-- banner section  -- */
.banner-container{
    background-image: url('../asset/image/background.jpg'), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.banner-title{
    font-size: 80px;
    font-weight: bold;
}
.btn-discover{
    background-color: rgb(219, 21, 21);
    color: #ffffff;
}
.btn-hire-me{
    color:rgb(219, 21, 21) ;
    border: 1px solid rgb(219, 21, 21);
}